<html>
    <link href="/css/style.css" rel="stylesheet">
    <body class="content" >
    <h1>About Ghess</h1>
    <a href=/ >Return</a>
    <hr>
    <div style="font-size:20px">
        This site is the front end for the <b>Ghess chess AI</b>, Fenimore's creation during his retreat at the <a href="https://recurse.com" >Recurse Center</a>.
    </div>
    <h2>The Site</h2>
    <ul>
  <li>This site is run with <i>Go</i> (the programming language, unfortunately there isn't a <i>Chess</i> programming language).</li>
  <li>The Human versus Human client doesn't work on Heroku. It is a websockets powered client and is currently supporting only one game at a time.</li>
  <li>The database is a key-value store BoltDB, which is a lightweight Go database.</li>
  <li>The underlying chess engine is likewise written by me, Fenimore, and it's likewise in Go.</li>
  <li>The UI chessboard is the chessboardjs chessboard.</li>
  <li>The magnificant gif is taken from Hsu's site, http://everythingisreally.com/.</li>
    </ul>
    <h2>The AI</h2>
    <ul>
  <li>The AI is implemented with a Minimax algorithm.</li>
  <li>It implements Alpha Beta pruning.</li>
  <li>It's a fair bit slower on heroku.</li>
  <li>It searches three ply for Easy, four for Medium and five for Hard.</li>
  <li>There is a (small) dictionary for openings.</li>
    </ul>
    <br><br><br><hr>
    Fenimore Love 2016 | <a href="https://github.com/polypmer/go-chess">Source Code GPLv3</a>
    </body>
</html>
